[theme='light'] {
	--primary-background: #f5f9ff;
	--primary-heading: #121212;
	--primary-text: #575758;
	--primary-button-background: #4b77ab;
	--primary-button-text: #f5f9ff;
	--primary-button-background-2: #ffffff;
	--primary-button-text-2: #4b77ab;
	--primary-border: #a7b1b9;
	--secondary-button-background: #ffffff;
	--primary-button-background-3: #ffffff;
	--primary-lite-text: #949393;
	--secondary-button-text: #4b77ab;
	--cancel-button-background: #cd6858;
	--cancel-button-text: #f5f9ff;
	--input-background: #ffffff;
	--disabled-background: #ced5dc;
	--disabled-text: #ffffff;
	--card-background: rgba(255, 255, 255, 0.3);
}
[theme='dark'] {
	--primary-background: #09131e;
	--primary-heading: #ffffff;
	--primary-text: #f5f9ff;
	--primary-button-background: #afd2f5;
	--primary-button-text: #121212;
	--primary-button-background-2: #afd2f5;
	--primary-button-background-3: #09131e;
	--primary-lite-text: #a7b1b9;
	--primary-button-text-2: #121212;
	--primary-border: #a7b1b98c;
	--secondary-button-background: #16222f;
	--secondary-button-text: #afd2f5;
	--cancel-button-background: #16222f;
	--cancel-button-text: #afd2f5;
	--input-background: #151f29;
	--disabled-background: #1f2832;
	--disabled-text: #a5a9ad;
	--card-background: #171f24;
}

// color variables

$primary-heading: var(--primary-heading);
$primary-background: var(--primary-background);
$primary-text: var(--primary-text);
$primary-button-background: var(--primary-button-background);
$primary-button-text: var(--primary-button-text);
$primary-button-background-2: var(--primary-button-background-2);
$primary-button-background-3: var(--primary-button-background-3);
$primary-button-text-2: var(--primary-button-text-2);
$primary-lite-text: var(--primary-lite-text);
$primary-border: var(--primary-border);
$secondary-button-background: var(--secondary-button-background);
$secondary-button-text: var(--secondary-button-text);
$cancel-button-background: var(--cancel-button-background);
$cancel-button-text: var(--cancel-button-text);
$input-background: var(--input-background);
$disabled-background: var(--disabled-background);
$disabled-text: var(--disabled-text);
$card-background: var(--card-background);

// fonts
$nunito: 'Nunito', sans-serif;

// font weights
$thin: 100;
$exlight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$exbold: 800;
$exblack: 900;

// other variables
.d-none {
	display: none !important;
}
