[theme="light"] {
  --primary-heading: #000;
  --primary-background: #fff;
}
[theme="dark"] {
  --primary-heading: #fff;
  --primary-background: #000;
}

// color variables

$primary-heading: var(--primary-heading);
$primary-background: var(--primary-background);

// fonts
$nunito: "Nunito", sans-serif;

// font weights
$thin: 100;
$exlight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$exbold: 800;
$exblack: 900;

// other variables
.d-none {
  display: none !important;
}
