.shortcutContainer {
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
	gap: 34px;
	position: relative;
	transition: all 0.4s ease-in-out;
}

.fullGrid {
	width: 100%;
}

.halfGrid {
	width: 80%;
}
