@import '../../../styles/fonts';
@import '../../../styles/variables';
@import '../../../styles/reset';

.accordionSection {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 1rem 0;

	.accordion {
		display: grid;
		grid-template-columns: 1fr 25fr;
		align-items: flex-start;
		border: none;
		outline: none;
		transition: background-color 0.3s ease-in-out;
		cursor: pointer;

		.icon {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 24px;
			height: 24px;
			background-color: #133551;
			color: #fff;
			border-radius: 50%;
			margin-top: 6px;

			.accordionIcon {
				font-size: 1.5rem;
				font-weight: 500;
			}
		}
		.titleHeader {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.accordionTitle {
				font-family: 'Poppins';
				font-style: normal;
				font-weight: 400;
				font-size: 1.2rem;
				line-height: 30px;
				margin-left: 0.5rem;
				padding-left: 0;
				text-align: left;
				background-color: transparent;
				color: $primary-heading;
				width: 80%;
				padding-inline: 0.5rem;
				border-radius: 8px;
				margin-bottom: 0.5rem;
				user-select: none;
				&:hover {
					background-color: rgba(128, 128, 128, 0.181);
				}
			}
			.selectedInput {
				border: 1px solid $primary-border;
			}
		}
	}

	.accordionContent {
		width: 100%;
		height: auto;
		overflow: hidden;
		transition: max-height 0.3s ease-in-out;
		padding-inline: 2rem;

		.accordionText {
			max-width: 1000px;
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 300;
			font-size: 1.2rem;
			line-height: 32px;
			margin-left: 5px;
			color: $primary-text;
			display: flex;
			flex-wrap: wrap;
			.shortcutItem {
				display: flex;
				align-items: center;
				justify-content: center;
				width: fit-content;
				padding: 0.2rem 0.5rem;
				border: 0.5px solid $primary-border;
				border-radius: 8px;
				margin-inline: 0.4rem;
				margin-block: 0.4rem;

				&:hover {
					cursor: pointer;
					background-color: rgba(128, 128, 128, 0.263);
				}
				p {
					margin: 0 0.4rem;
				}
			}
		}
		span {
			color: #fff;
			font-size: 20px;
			font-weight: 800;
		}
	}
}

@media only screen and (max-width: 600px) {
	.accordionSection {
		padding-inline: 2rem;
		margin: 1rem 0;

		.accordion {
			width: 100%;
			gap: 1rem;

			.icon {
				width: 20px;
				height: 20px;
				.accordionIcon {
					padding: 4px;
				}
			}
			.accordionTitle {
				font-size: 1rem;
			}
		}
		.accordionContent {
			padding-inline: 0rem;
			.accordionText {
				font-size: 1rem;
				text-align: start;
				line-height: 25px;
			}
		}
	}
}
